# Black and white tarot
cards/bw/0.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/1.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/10.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/11.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/12.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/13.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/14.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/15.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/16.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/17.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/18.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/19.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/2.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/20.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/21.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/3.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/4.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/5.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/6.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/7.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/8.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/9.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/c1.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/c10.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/c11.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/c12.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/c13.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/c14.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/c2.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/c3.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/c4.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/c5.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/c6.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/c7.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/c8.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/c9.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/p1.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/p10.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/p11.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/p12.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/p13.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/p14.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/p2.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/p3.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/p4.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/p5.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/p6.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/p7.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/p8.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/p9.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/s1.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/s10.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/s11.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/s12.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/s13.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/s14.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/s2.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/s3.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/s4.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/s5.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/s6.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/s7.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/s8.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/s9.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/w1.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/w10.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/w11.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/w12.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/w13.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/w14.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/w2.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/w3.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/w4.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/w5.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/w6.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/w7.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/w8.jpg filter=lfs diff=lfs merge=lfs -text
cards/bw/w9.jpg filter=lfs diff=lfs merge=lfs -text

# Color tarot
cards/color/0.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/1.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/10.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/11.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/12.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/13.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/14.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/15.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/16.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/17.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/18.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/19.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/2.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/20.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/21.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/3.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/4.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/5.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/6.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/7.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/8.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/9.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/c1.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/c10.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/c11.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/c12.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/c13.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/c14.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/c2.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/c3.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/c4.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/c5.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/c6.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/c7.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/c8.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/c9.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/p1.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/p10.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/p11.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/p12.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/p13.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/p14.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/p2.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/p3.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/p4.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/p5.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/p6.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/p7.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/p8.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/p9.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/s1.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/s10.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/s11.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/s12.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/s13.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/s14.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/s2.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/s3.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/s4.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/s5.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/s6.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/s7.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/s8.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/s9.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/w1.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/w10.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/w11.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/w12.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/w13.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/w14.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/w2.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/w3.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/w4.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/w5.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/w6.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/w7.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/w8.jpg filter=lfs diff=lfs merge=lfs -text
cards/color/w9.jpg filter=lfs diff=lfs merge=lfs -text

# Color tarot (nicer quality)
cards/color1910/0.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/1.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/10.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/11.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/12.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/13.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/14.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/15.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/16.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/17.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/18.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/19.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/2.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/20.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/21.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/3.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/4.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/5.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/6.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/7.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/8.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/9.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/c1.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/c10.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/c11.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/c12.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/c13.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/c14.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/c2.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/c3.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/c4.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/c5.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/c6.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/c7.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/c8.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/c9.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/p1.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/p10.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/p11.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/p12.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/p13.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/p14.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/p2.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/p3.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/p4.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/p5.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/p6.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/p7.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/p8.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/p9.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/s1.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/s10.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/s11.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/s12.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/s13.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/s14.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/s2.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/s3.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/s4.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/s5.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/s6.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/s7.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/s8.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/s9.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/w1.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/w10.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/w11.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/w12.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/w13.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/w14.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/w2.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/w3.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/w4.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/w5.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/w6.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/w7.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/w8.jpg filter=lfs diff=lfs merge=lfs -text
cards/color1910/w9.jpg filter=lfs diff=lfs merge=lfs -text
